# Asatru PHP - App environment configuration file
# 
# Scheme:
#   name=value
# Example
#   APP_NAME="My App name"
# Datatypes:
#   string, integer, float, boolean and null (auto detected)

# App settings
APP_NAME="Portfolio App"
APP_VERSION=1.0
APP_AUTHOR="Daniel Brendel"
APP_CONTACT="daniel@danielbrendel.com"
APP_DESCRIPTION="Senior Indie Software Developer & Project Founder"
APP_TITLE="${APP_AUTHOR} | ${APP_DESCRIPTION}"
APP_SLOGAN="Scientia potentia est"
APP_STARTMENU_LABEL="${APP_AUTHOR}"
APP_MANIFEST_NAME="${APP_AUTHOR}"
APP_MANIFEST_DISPLAY="standalone"
APP_MANIFEST_COLOR="#323232"
APP_DEBUG=true
APP_BASEDIR=""
APP_TIMEZONE=null
APP_ADMIN_ACCESS_TOKEN=""
APP_ENABLE_BLOG=false
APP_ENABLE_SHOUTBOX=false
APP_ENABLE_PWA=false
APP_ENABLE_TERMINAL=false
APP_ENABLE_SERVICES=false
APP_ENABLE_APPLETS=false
APP_ALLOW_BLOG_HTML=false
APP_CACHE_DURATION=300
APP_SHOUTBOX_DELAY=4000
APP_STATUS_EP_CACHING=50
APP_PUBLIC_API_TOKEN=""

# Links
LINK_SOCIAL_GITHUB="https://github.com/danielbrendel"
LINK_SOCIAL_STEAM=""
LINK_SOCIAL_ITCHIO=""
LINK_SOCIAL_BLUESKY=""
LINK_SOCIAL_MASTODON=""
LINK_SOCIAL_LINKEDIN=""
LINK_SOCIAL_DISCORD=""
LINK_SOCIAL_YOUTUBE=""

# Support links
APP_GITHUB_SPONSOR="https://github.com/sponsors/danielbrendel"
APP_DONATION_KOFI="https://ko-fi.com/danielbrendel"

# Session
SESSION_ENABLE=true
SESSION_DURATION=0
SESSION_NAME=null

# Database settings
DB_ENABLE=true
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=""
DB_PORT=3306
DB_DATABASE=portfolio
DB_DRIVER=mysql
DB_CHARSET=utf8mb4

# Mastodon settings
MASTODON_API_ENABLE=false
MASTODON_SERVER_INSTANCE=""
MASTODON_ACCESS_TOKEN=""

# BlueSky settings
BLUESKY_API_ENABLE=false
BLUESKY_INSTANCE=""
BLUESKY_HANDLE=""
BLUESKY_PASSWORD=""

# Ko-Fi Discord Bot
KOFI_ENABLE=false
KOFI_VERIFICATION_TOKEN=""
KOFI_BOTTOKEN=""
KOFI_CHANNEL=""

# SMTP settings
SMTP_FROMNAME="Test"
SMTP_FROMADDRESS="test@domain.tld"
SMTP_HOST=""
SMTP_PORT=587
SMTP_USERNAME=""
SMTP_PASSWORD=""
SMTP_ENCRYPTION=tls

# Logging
LOG_ENABLE=true